:root{
    /* colors */
    --clr-raspberry-rose:#B33F62;
    --clr-jet:#2F2F2F;
    --clr-mint-green:#CCFBFE;
    --clr-atomic-tangerine:#F29559;
    --clr-yellow:#ffee32;
    --clr-blue:#00296b;

    /* font-familys */
    --ff-inknut-antiqua:"Inknut Antiqua", serif;;
    --ff-mulish:"Mulish", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-mulish);

}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-inknut-antiqua);
}
#root, #__next {
  isolation: isolate;
}

#root{
    display: grid;
    grid-template-rows: 80px 
}

header{
    display: flex;
    align-items: center;
    background-color: var(--clr-mint-green);
}

header,
main{
    padding: 0 2rem;
}

h1{
    color: var(--clr-yellow);
    text-shadow:
        -4px -4px 0 var(--clr-blue),
        -4px -3px 0 var(--clr-blue),
        -4px -2px 0 var(--clr-blue),
        -4px -1px 0 var(--clr-blue),
        -4px  0px 0 var(--clr-blue),
        -4px  1px 0 var(--clr-blue),
        -4px  2px 0 var(--clr-blue),
        -4px  3px 0 var(--clr-blue),
        -4px  4px 0 var(--clr-blue),

        4px -4px 0 var(--clr-blue),
        4px -3px 0 var(--clr-blue),
        4px -2px 0 var(--clr-blue),
        4px -1px 0 var(--clr-blue),
        4px  0px 0 var(--clr-blue),
        4px  1px 0 var(--clr-blue),
        4px  2px 0 var(--clr-blue),
        4px  3px 0 var(--clr-blue),
        4px  4px 0 var(--clr-blue),

        -3px -4px 0 var(--clr-blue),
        -2px -4px 0 var(--clr-blue),
        -1px -4px 0 var(--clr-blue),
        0px -4px 0 var(--clr-blue),
        1px -4px 0 var(--clr-blue),
        2px -4px 0 var(--clr-blue),
        3px -4px 0 var(--clr-blue),

        -3px  4px 0 var(--clr-blue),
        -2px  4px 0 var(--clr-blue),
        -1px  4px 0 var(--clr-blue),
        0px  4px 0 var(--clr-blue),
        1px  4px 0 var(--clr-blue),
        2px  4px 0 var(--clr-blue),
        3px  4px 0 var(--clr-blue);
}

main{
    display: grid;
    grid-template-rows: 100px 1fr;
    padding-top:2rem;
    gap: 2rem;
}

.score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

}

.score-container p{
    background-color: var(--clr-raspberry-rose);
    width: fit-content;
    color: white;
    padding: 10px;
    border-radius: 10px;

}

