:root{
    /* colors */
    --clr-raspberry-rose:#B33F62;
    --clr-jet:#2F2F2F;
    --clr-mint-green:#CCFBFE;
    --clr-atomic-tangerine:#F29559;

    /* font-familys */
    --ff-inknut-antiqua:"Inknut Antiqua", serif;;
    --ff-mulish:"Mulish", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-mulish);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-inknut-antiqua);
}
#root, #__next {
  isolation: isolate;
}